
  <div class="city">
    <h1> Please Select from a Location Below</h1>
    <ul>
      <% @locations.each do |location| %>
      <li><%= link_to(location.city, location, data: {location_id: location.id}) %>
      </li>
      <% end %>
    </ul>
    <ul id="restaurants">
        <!-- Placeholder for restaurants. Populated by js -->

      </ul>

    </div>
  </div>


<script>
$(document).ready(function(){
  var selectCity = $('.city')
  selectCity.on("click", function(event){
    fetchLocations(event)
  });

  var selectRestaurant = $('#rest')
  selectRestaurant.on("click", function(event){
    linkRestaurant(event)
  })
})


</script>

<div id="footer">
  <div style="float: right;">
    <p> @hellostella </a>
    </div>
</div>
