<div class= "restaurant">
</div>

  <div id="content">
    <h2><%= @location.city %>'s Restaurants </h2>

    <% @location.restaurants.each do |restaurant| %>
      <table>
        <tr><%= restaurant.name %></tr>
        <% image = restaurant.image_url %>
        <h2><img style="height:auto; width:100%; max-width:300px; max-height:300px;" src= "<%= image %>"></h2>
        <tr><%= link_to restaurant.name, restaurant %></tr>
      </table>
      <% end %>
  </div>

<div id="footer">
  <div style="float: right;">
    <p> @hellostella </a>
  </div>
</div>
